.coral-pixels-regular {
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    font-family: "Coral Pixels", serif;
    background: #f4fb8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
  }
  .h1 {
    font-family: "Coral Pixels", serif;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 200px;
    
  }
  p{
    font-size: xx-small;
  }
  input {
    font-size: 40px;
    font-family: "Coral Pixels", serif;
    padding: 10px;
    width: 300px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #abf768;
    border-color: #abf768;
  }
  .keypad {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
    margin-bottom: 20px;
  }
  button {
    font-family: "Coral Pixels", serif;
    font-size: 40px;
    padding: 20px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 8px;
    background-color: #8cffe8;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background 0.3s;
    white-space: normal; /* Allow multi-line if needed */
  }
  button:hover {
    background-color: #0eaba1;
    transition: background 1s;
  }
  .special {
    background-color: #abf768;
    font-size: 25px; /* Slightly smaller font for longer text */
    padding: 15px;
  }
  .special:hover {
    background-color: #81b51b;
  }
